body {
  padding: 10px;
}

.map-thumbnails {
  list-style-type: none;
  margin-left: 0;
}

.map-thumbnail {
  float: left;
  width: 400px;
  background: #eee;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.map-thumbnail-title {
  font-size: 2em;
}

.map-thumbnail-image {
  width: 100%;
}

header {
  margin-bottom: 15px;
}
.header-title {
  margin-bottom: 0px;
  text-align: bottom;
}
